body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 335px;
    border-radius: 1rem;
    margin-right: 0.4rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 0.9rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
}

a {
    color: white;
    text-decoration: None;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    padding: 1.0rem 0.65rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.4rem 0.6rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;

}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.7rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.6rem 0 0.7rem 0;
    padding: 1rem 1.35rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.8rem;
    opacity: 0.6;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 1.5rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

.sticky-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    padding: 0.6rem 0 0.6rem 0;
    z-index: 10;

}

.sticky-nav-icons {
    font-size: 0.3rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}


.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.5;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;

}

.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.5rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}